.top {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    border-bottom: 0.04rem solid #C7C7C7;
}
.top .fl {
    padding: 0px 0.2rem;
}
.top .fl img {
    width: 0.25rem;
    height: 0.38rem;
    margin-bottom: 0.18rem;
}
.top .title {
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #666666;
    font-weight: 600;
}
.center .Carousel {
    width: 6.7rem;
    height: 2.54rem;
    margin: 0.2rem auto;
    background-color: #666666;
    border-radius: 0.18rem;
}
.center h3 {
    font-size: 0.37rem;
    border-left: 0.1rem solid #FF8522;
    text-indent: 0.1rem;
    margin-top: 0.49rem;
    margin-left: 0.4rem;
}
.center .curriculum .button {
    width: 100%;
    height: 0.75rem;
    line-height: 0.75rem;
    font-size: 0.24rem;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #888888;
}
.center .curriculum {
    width: 100%;
    padding: 0.43rem;
    padding-bottom: 0.6rem;
    padding-left: 0.75rem;
    margin-top: 0.2rem;
    background-color: #fff;
    border-radius: 0.23rem;
    position: relative;
    box-shadow:0px 4px 25px 2px rgba(74,74,74,0.09);
}
.center .curriculum .ListBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center .curriculum .ListBox .box {
    margin-bottom: 0.49rem;
    width: 100%;
    height: 2rem;
    border-radius: 9px;
    position: relative;
}
.center .curriculum .ListBox .box .listtop{
    position: absolute;
    top: 0rem;
    left: -0.3rem;
    width: 1.8rem;
    height: 1.94rem;
    background-color: #FF8522;
    border-radius: 0.18rem;
}
.center .curriculum .ListBox .box .listbottom{
    position: absolute;
    top: 0px;
    left: 1.6rem;
    width: 4.28rem;
    height: 83px;
    padding: 0.2rem 0.2rem;
}
.center .curriculum .ListBox .box .listbottom .title{
    font-size:0.3rem;
    color: #666666;
    width: 3rem;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.center .curriculum .ListBox .box .listbottom .text{
    font-size: 0.24rem;
    color: #7B7B7B;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.center .curriculum .ListBox .box .listbottom .star{
    height: 0.25rem;
    display: flex;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.center .curriculum .ListBox .box .listbottom .star img{
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.1rem;
}
.center .curriculum .ListBox .box .listbottom .money{
    font-size: 0.3rem;
    color: #FB9220;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.center .curriculum .ListBox .box .listbottom .more{
    display: inline-block;
    font-size: 0.3rem;
    color: #fff;
    padding: 0.1rem 0.15rem;
    background-color: #FF8522;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0.2rem;
}
.center .curriculum .ListBox .box .Sold{
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
    color: #7B7B7B;
    font-size: 0.2rem;
}  
.center .curriculum .ListBox .box .go{
    position: absolute;
    right: -0.2rem;
    top: 0.8rem;
    width: 0.42rem;
    height: 0.42rem;
    background-color: #FB9220;
    border-radius: 0.06rem;
}   
.center .curriculum .ListBox .box .img{
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0094ff;
    border-radius: 0.06rem;
}
