.mycomment .tops {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    border-bottom: 0.04rem solid #C7C7C7;
}
.mycomment .tops .fl {
    padding: 0px 0.2rem;
}
.mycomment .tops .fl img {
    width: 0.25rem;
    height: 0.38rem;
    margin-bottom: 0.18rem;
}
.mycomment .tops .title {
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #666666;
    font-weight: 600;
}
.mycomment .center {
    width: 100%;
    padding: 0.3rem 0.4rem;
}
.mycomment .center .xing {
    font-size: 0.36rem;
    color: #666666;
    display: flex;
    align-items: center;
}
.mycomment .center .xing span {
    margin-right: 0.1rem;
}
.mycomment .center textarea {
    width: 100%;
    outline: none;
    margin-top: 0.2rem;
    font-size: 0.36rem;
}
.mycomment .center .btn {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.46rem;
    letter-spacing: 10px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #FB9220;
}
.mycomment .center .imgbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.2rem;
}
.mycomment .center .imgbox .add {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    margin-right: 0.1rem;
    margin-bottom: 0.2rem;
    background-color: #FB9220;
    color: #666666;
    font-size: 1.2rem;
}
.mycomment .center .imgbox .xsimg {
    display: flex;
}
.mycomment .center .imgbox .xsimg div{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.1rem;
    margin-bottom: 0.2rem;
    background-color: #FB9220;
}