.BencandyHead{
	height:60px;
}
.BencandyHead .InBox{
	width:100%;
	height:60px;
	position:fixed;
	left:0;
	top:35px;
	z-index:100000;
	background:#FFF;
	border-bottom:#DDD solid 1px;
	-moz-box-shadow: -3px 3px 5px #DDD; /* ÀÏµÄ Firefox */
	box-shadow: -3px 3px 5px #DDD;
}
.BencandyHead .InBox dl{
	width:1200px;
	height:60px;
	margin:auto;
}
.BencandyHead .InBox dl dt{
	float:left;
}
.BencandyHead .InBox dl dd{
	float:right;
	width:300px;
	margin-top:8px;
}
.BencandyHead .InBox dl dt ul{
	display:table;
	height:60px;
}
.BencandyHead .InBox dl dt ul ol,.BencandyHead .InBox dl dt ul li{
	display:table-cell;
	vertical-align:middle;
	font-size:16px;
}
.BencandyHead .InBox dl dt ul ol img{
	max-height:50px;
	margin-right:15px;
}
.SearchBox1{
	border:#DDD solid 1px;
	height:30px;
	background:#EFEFEF;
	padding:5px 70px 5px 10px;
	border-radius:5px;
	position:relative;
}
.SearchBox1 .input input{
	width:100%;
	height:30px;
	line-height:30px;
	background:#FFF;
	border:0;
	outline:none;
	border-radius:5px;
	font-size:14px;
	text-indent:5px;
}
.SearchBox1 .sub{
	width:50px;
	height:30px;
	position:absolute;
	top:5px;
	right:10px;
	background:url(search.png) no-repeat;
	background-size:100% 100%;
	border-radius:5px;	
}
.SearchBox1 .sub input{
	width:100%;
	height:100%;
	filter:alpha(opacity=0); 
	-moz-opacity:0; 
	opacity:0;
	cursor:pointer;
}