.HeaerBox{
	width:100%;
	position:relative;
	z-index:1000000;
}
.HeaerBox:before{
	content:'';
	display:block;
	padding-top:55px;
}
.HeaerBox .infos{
	position:fixed;
	width:100%;
	left:0;
	top:0;
}
.HeaerBox .infos:before{
	content:'';
	display:block;
	padding-top:55px;
	background:#D43D3D;
}
.HeaerBox .infos li{
	position:absolute;
}
.HeaerBox:before,.HeaerBox .infos:before{
	padding-top:60px;
}
.HeaerBox .infos li.home{
	width:50px;
	height:100%;
	overflow:hidden;
	left:0;
	top:0;
	background:url(home1.png) center center no-repeat;
	background-size:65% 60%;
}
.HeaerBox .infos li.home a{
	display:block;
	padding-top:60px;
}
.HeaerBox .infos li.member{
	width:50px;
	height:100%;
	overflow:hidden;
	right:50px;
	top:0;
	background:url(header.png) center center no-repeat;
	background-size:60% 50%;
	cursor:pointer;
}
.HeaerBox .infos li.member span{
	display:none;
}
.HeaerBox .infos li.search{
	width:50px;
	height:100%;
	overflow:hidden;
	right:0;
	top:0;
	background:url(search1.png) center center no-repeat;
	background-size:55% 55%;
	cursor:pointer;
}
.HeaerBox .infos li.search span{
	display:none;
}
.HeaerBox .infos li.sitename{
	width:100%;
	height:100%;
	left:0;
	top:0;
	text-align:center;
	overflow:hidden;
}
.HeaerBox .infos li.sitename span{
	display:inline-block;
	line-height:60px;
	margin:0 100px 0 50px;
	padding-right:30px;
	font-size:18px;
	color:#FFF;
	background:url(return.png) right center no-repeat;
	background-size:20px 20px;
}
.HeaerBox .infos li.members{
	width:100px;
	background:#FFF;
	border:#DDD solid 1px;
	border-radius:5px;
	right:25px;
	top:65px;
	display:none;
}
.HeaerBox .infos li.members:before{
	content:'';
	width:0;
	height:0;
	border:5px solid transparent;
	border-bottom: 5px solid #DDD;
	border-top:0;
	position:absolute;
	top:-5px;
	left:48px;
}
.HeaerBox .infos li.members a{
	display:block;
	line-height:35px;
	text-align:center;
	border-top:#DDD solid 1px;
}
.HeaerBox .infos li.members a:nth-child(1){
	border-top:0;
}
.HeaerBox .infos li.SearchBox{
	width:100%;
	height:60px;
	background:rgba(0,0,0,0.7);
	left:0;
	top:60px;
	display:none;
}
.HeaerBox .infos li.SearchBox dl{
	margin:10px 10px 0 10px;
	height:40px;
	background:#FFF;
	overflow:hidden;
	position:relative;
	padding-right:50px;
	border-radius:20px;
	-moz-box-shadow: 3px 3px 5px #999; /* �ϵ� Firefox */
	box-shadow: 3px 3px 5px #999;
}
.HeaerBox .infos li.SearchBox dl dd{
	width:50px;
	height:40px;
	position:absolute;
	top:0;
	right:0;
	background:#D43D3D url(search1.png) center center no-repeat;
	background-size:50% 60%;
	border-radius:0 20px 20px 0;
}
.HeaerBox .infos li.SearchBox dl dd input{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	filter:alpha(opacity=0); 
	-moz-opacity:0; 
	opacity:0;
}
.HeaerBox .infos li.SearchBox dl dt{
	padding:5px 0 0 10px;
}
.HeaerBox .infos li.SearchBox dl dt input{
	width:100%;
	height:30px;
	border:0;
	line-height:30px;
	outline:0;
}
.BigsortBox{
	clear:both;
	height:45px;
	position:relative;
	z-index:10000;
	top:52px;
}
.BigsortBox .BoxIn{
	position:fixed;
	width:100%;
	left:0;
	top:52px;	
	background:#FFF;
}
.BigsortBox .BoxIn ul{
	max-width:640px;
	margin:auto;
	position:relative;
	border-bottom:#DDD solid 1px;
}
.BigsortBox .BoxIn ul ol{
	position:relative;
	margin-right:40px;
	height:45px;
	overflow:hidden;
}
/*.BigsortBox .BoxIn ul ol div{
	width:1000%;
	height:45px;
	position:absolute;
	left:0;
	top:0;
	line-height:45px;
}
.BigsortBox .BoxIn ul ol div a{
	display:block;
	float:left;
	padding:0 15px;
}
.BigsortBox .BoxIn ul ol div a.ck{
	color:#F30;
}*/
.BigsortBox .BoxIn ul ol div span{
	display:table;
	height:45px;
}
.BigsortBox .BoxIn ul ol div span a{
	display:table-cell;
	vertical-align:middle;
	padding:0 15px;
	white-space:nowrap
}
.BigsortBox .BoxIn ul ol div span a.ck{
	color:#000000;
	font-weight: bold;
	border-bottom: 2px solid #ffdd33;
}
.BigsortBox .BoxIn ul li{
	width:40px;
	height:45px;
	position:absolute;
	right:0;
	top:0;
	border-left:#DDD solid 1px;
}
.BigsortBox .BoxIn ul li:before{
	content:'';
	width:0;
	height:0;
	border:16px solid transparent;
	border-left: 16px solid #DDD;
	border-right:0;
	position:absolute;
	top:8px;
	left:12px;
}
.BigsortBox .BoxIn ul li:after{
	content:'';
	width:0;
	height:0;
	border:16px solid transparent;
	border-left: 16px solid #FFF;
	border-right:0;
	position:absolute;
	top:8px;
	left:9px;
}
.BigsortBox .BoxIn ul li span{
	display:none;
}
.MoreSorts{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:100000000;
	display:none;
}
.MoreSorts .BackBox{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:rgba(0,0,0,0.6);
}
.MoreSorts dl{
	max-width:300px;
	margin:20px auto 0 auto;
	border:#DDD solid 1px;
	background:#FFF;
	position:relative;
	border-radius:5px;
}
.MoreSorts dl dt{
	height:45px;
	padding-right:45px;
	position:relative;
	text-align:center;
	line-height:45px;
	overflow:hidden;	
}
.MoreSorts dl dt span{
	display:block;
	width:45px;
	height:45px;
	position:absolute;
	border-left:#DDD solid 1px;
	top:0;
	right:0;
}
.MoreSorts dl dt span:before,.MoreSorts dl dt span:after{
	content:'';
	display:block;
	position:absolute;
	width:0;
	height:0;
	left:6px;
	border:16px solid transparent;
}
.MoreSorts dl dt span:before{
	border-top: 16px solid #DDD;
	border-bottom:0;
	top:18px;
}
.MoreSorts dl dt span:after{
	border-top: 16px solid #FFF;
	border-bottom:0;
	top:17px;
}
.MoreSorts dl.ck dt span:before{
	border-bottom: 16px solid #DDD;
	border-top:0;
	top:17px;
}
.MoreSorts dl.ck dt span:after{
	border-bottom: 16px solid #FFF;
	border-top:0;
	top:18px;
}
.MoreSorts dl dd{
	border-top:#DDD solid 1px;
	padding:5px 5px 10px 5px;
	line-height:30px;
	display:none;
}
.MoreSorts dl.ck dd{
	display:block;
}
.MoreSorts dl dd a{
	display:inline-block;
	background:#EFEFEF;
	padding:0 10px;
	margin:10px 2px 2px 5px;
}
.MoreSorts dl dd a.ck{
	background:#F60;
	color:#FFF;
}
.MoreSorts .exit{
	text-align:center;
	padding:20px 0;
	position:relative;
}
.MoreSorts .exit span{
	display:inline-block;
	background:#F60;
	padding:10px 20px;
	color:#FFF;
	border-radius:50%;
}
@media (max-width: 500px) and (min-width:401px) {
	.HeaerBox:before,.HeaerBox .infos:before{
		padding-top:50px;
	}
	.HeaerBox .infos li.search,.HeaerBox .infos li.member,.HeaerBox .infos li.home{
		width:40px;
	}	
	.HeaerBox .infos li.member{
		right:40px;
	}
	.HeaerBox .infos li.sitename span{
		line-height:50px;
		margin:0 80px 0 40px;
		background-size:18px 18px;
	}
	.HeaerBox .infos li.members{
		right:15px;
		top:55px;
	}
	.HeaerBox .infos li.SearchBox{
		top:50px;
	}	
	.BigsortBox .BoxIn{
		top:47px;
	}
}
@media (max-width: 400px) and (min-width:301px) { 
	.HeaerBox:before,.HeaerBox .infos:before{
		padding-top:40px;
	}
	.HeaerBox .infos li.search,.HeaerBox .infos li.member,.HeaerBox .infos li.home{
		width:35px;
	}
	.HeaerBox .infos li.member{
		right:35px;
	}
	.HeaerBox .infos li.sitename span{
		line-height:40px;
		margin:0 80px 0 40px;
		padding-right:25px;
		background-size:16px 16px;
	}
	.HeaerBox .infos li.members{
		right:5px;
		top:45px;
	}
	.HeaerBox .infos li.SearchBox{
		top:40px;
	}
	.BigsortBox .BoxIn{
		top:47px;
	}	
}

.body_Hearcont{
	background: -webkit-linear-gradient(#07EBC8, #357BF5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#07EBC8, #357BF5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#07EBC8, #357BF5); /* Firefox 3.6 - 15 */
    background: linear-gradient(#07EBC8, #357BF5); /* 标准的语法（必须放在最后） */
	padding:5px 1%;
	/*background:#ffdd33;*/
	max-width:98%;
	height:42px;
	margin:auto;
	position:fixed;
	width:98%;
	left:0;
	top:0;
	z-index:10000;
}
.body_Hearcont ul{
	display:table;
	width:100%;
	margin-top:4px;
}
.body_Hearcont ul ol,.body_Hearcont ul li{
	display:table-cell;
}
.body_Hearcont ul ol{
	width:100%;
	text-align:center;
}
.body_Hearcont ul ol img{
	max-width:90%;
	max-height:75px;
}
.body_Hearcont ul li dl{
	height:50px;
	background:#EEE;
	border-radius:25px;
	overflow:hidden;
	position:relative;
	box-shadow: 1px 1px 1px #666;/**����Ӱ**/
}
.body_Hearcont ul li dl dt input{
	position:absolute;
	width:90%;
	height:80%;
	left:50%;
	top: 50%;
	border:0;
	background:none;
	outline:none;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);		  
}
.body_Hearcont ul li dl dd{
	position:absolute;
	width:50px;
	height:100%;
	right:0;
	top:0;
}
.body_Hearcont ul li dl dd button{
	position:absolute;
	width:100%;
	height:100%;
	right:0;
	top:0;
	border:0;
	background:none;
	cursor:pointer;
	font-size:26px;
}
@media (max-width: 500px) {
	.body_Hearcont ul li dl{
		height:35px;
		font-size:14px;
	}
	.body_Hearcont ul li dl dd button{
		font-size:20px;
	}
}
.HeadMoreMenu .tag{
	text-align: right;
	font-size: 32px;
	color: #666;
}
.HeadMoreMenu .lists{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 100000;
	left: 0;
	top:0;
	display: none;
}
.HeadMoreMenu .lists label{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	left: 0;
	top:0;
}
.HeadMoreMenu .lists div{
	position: absolute;
	width: 0%;
	height: 100%;
	background: #FFF;
	overflow-x: hidden;
	overflow-y: auto;
	left: 0;
	top:0;
}
.HeadMoreMenu .lists div a{
	display: block;
	line-height: 40px;
	border-bottom: #DDD solid 1px;
	background: #F5F5F5;
	padding: 0 15px;
}
.searchbox{top:40px;margin:30px 10px 45px 10px!important;}
.hotsearch{width:96%!important;}
.xglist{margin-top:40px!important;}
.ShowPhotoCont{position:relative; top:48px;}
.WapCommentBox{margin-bottom:30px;}
.MainContainer,.MainMemberBox,.qb_ui_wapSortBoxCont,.ShopCarContent,.PostOrder,.addBox{margin-top:52px!important;}

.qb_wap_header{
	padding:8px;
	background:#FFDD33;
	color:#000000;
	height:26px;
}
.qb_wap_header a{
	color:#fff;
}
.qb_wap_header div{
	float:left;
}
.qb_wap_header{
	text-align:center;
}
.qb_wap_header .R{
	float:right;
}